body {
	background-color: #fbb;
	display: flex;
	align-items: center;
	flex-direction: column;
}

a {
    background-image: linear-gradient(45deg, #af42a8, #d46a61);
    color: transparent;
    background-clip: text;
    font-family: Arial;
    font-size: 32px;
}
div {
	background-color: rgba(213, 145, 60, 0.5);
	position: relative;
	bottom: 200px;
}
